<p>* not for mobile yet</p>
<div class="lower-machine-container" id="lower-machine-container">

    <div class="message-container">
        <div class="info account">{{ slotsAccount.currency }}: {{ slotsAccount.currentAccount }}</div>
        <div class="info win-message" id="win-message">
            <div id="message"></div>
        </div>
    </div>

    <div class="score-reel-container">
        <div class="score-container score-container-1">
            <img id="diamonds" src="assets/pictures/slotsScores/diamonds.png" alt="">
            <img id="melons" src="assets/pictures/slotsScores/melons.png" alt="">
            <img id="grapes" src="assets/pictures/slotsScores/grapes.png" alt="">
            <img id="bells" src="assets/pictures/slotsScores/bells.png" alt="">
            <img id="plums" src="assets/pictures/slotsScores/plums.png" alt="">
            <img id="plumBar" src="assets/pictures/slotsScores/plumBar.png" alt="">
            <img id="peaches" src="assets/pictures/slotsScores/peaches.png" alt="">
            <img id="peachBar" src="assets/pictures/slotsScores/peachBar.png" alt="">
        </div>

        <div class="reels-container">
            <div class="reel-cont reel-cont-1" id="reel-cont-1">
                <div class="reel" id="reel-1"></div>
            </div>
            <div class="reel-cont reel-cont-2" id="reel-cont-2">
                <div class="reel" id="reel-2"></div>
            </div>
            <div class="reel-cont reel-cont-3" id="reel-cont-3">
                <div class="reel" id="reel-3">
                </div>
            </div>
        </div>

        <div class="score-container score-container-2">
            <img id="oranges" src="assets/pictures/slotsScores/oranges.png" alt="">
            <img id="orangeBar" src="assets/pictures/slotsScores/orangeBar.png" alt="">
            <img id="lemons" src="assets/pictures/slotsScores/lemons.png" alt="">
            <img id="lemonBar" src="assets/pictures/slotsScores/lemonBar.png" alt="">
            <img id="cherries" src="assets/pictures/slotsScores/cherries.png" alt="">
            <img id="cherryBar" src="assets/pictures/slotsScores/cherryBar.png" alt="">
            <img id="twoCherries" src="assets/pictures/slotsScores/twoCherries.png" alt="">
            <img id="oneCherry" src="assets/pictures/slotsScores/oneCherry.png" alt="">
        </div>

        <div class="message-board" id="message-board">
            <div class="brand-container"></div>
            <div class="question-prize" id="question-prize"></div>
            <div class="questionmark-container">
                <div class="grid-container">
                    <div class="qRow qRow-1">
                        <img id="q0" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q1" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q2" src="assets/pictures/slotsScores/questionMark.png" alt="">
                    </div>
                    <div class="qRow qRow-2">
                        <img id="q3" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q4" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q5" src="assets/pictures/slotsScores/questionMark.png" alt="">
                    </div>
                    <div class="qRow qRow-3">
                        <img id="q6" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q7" src="assets/pictures/slotsScores/questionMark.png" alt="">
                        <img id="q8" src="assets/pictures/slotsScores/questionMark.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="btn cancel" (click)="cancel()">CANCEL</button>
        <button class="btn hold btn-1" [ngClass]="slotsAccount.holdedReels[0] === false ? 'noHold' : 'onHold'" (click)="holdReel(0)">HOLD</button>
        <button class="btn hold btn-2" [ngClass]="slotsAccount.holdedReels[1] === false ? 'noHold' : 'onHold'" (click)="holdReel(1)">HOLD</button>
        <button class="btn hold btn-3" [ngClass]="slotsAccount.holdedReels[2] === false ? 'noHold' : 'onHold'" (click)="holdReel(2)">HOLD</button>
        <button class="btn coin head" id="heads" (click)="gamble('heads')">HEADS</button>
        <button class="btn coin tail" id="tails" (click)="gamble('tails')">TAILS</button>
        <button class="btn play" (click)="play()">PLAY</button>
    </div>
</div>