.contact-wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--backgroundColor1);
    
    .contact {
        padding: 60px 0px;
        max-width: 680px;
        width: 90%;
        margin: 0 auto;
        color: var(--textColor1);
        background-color: var(--backgroundColor1);
        text-align: center;
        
        .portfolio-button {
            border: 1px solid var(--global-secondary);
            border-bottom: 2px solid var(--global-secondary);
            background-color: var(--global-primary);
            color: var(--buttonTextColor);
            margin: 4px;
        }

        .personal-info {
            display: flex;
            flex-direction: column;
            justify-items: center;
            width: 100%;
            padding: 32px 0 8px 0px;

            .info-container {
                transform: translateX(-6px);
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 480px;
                margin: 0 auto;
                font-size: 14px;

                .types {
                    text-align: right;
                    border-right: 3px groove rebeccapurple;
                    padding: 4px 12px;
                    margin-right: 4px;
                }

                .values {
                    border-left: 3px groove --global-secondary;
                    text-align: left;
                    padding: 4px 12px;
                }
            }

            .photo {
                margin: 0 auto;
                height: 100px;
                padding-top: 16px;

                img {
                    height: 100%;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 680px;
        // color: rgb(194, 136, 11);
        // font-weight: bold;
        // font-size: 18px;
        margin: 0 auto;

        input {
            width: 100%;
        }

        .submit {
            width: 120px;
            // margin: 12px;
            padding: 8px;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            font-size: 16px;
            color: var(--textColor1);
            background-color: var(--global-primary);
        }
    }

    .info-message {
        text-align: center;
        font-size: 16px;
        color: orange;
        // width: 100%;
        // padding: 10px;
    }
}

