<div class="game-board-container">
    <div class="board-container">
        <app-doodles-player class="app-player" [lonelyGame]="lonelyGame" [id]="0"></app-doodles-player>
        <app-doodles-tableTiles [lonelyGame]="lonelyGame"></app-doodles-tableTiles>
        <app-doodles-player class="app-player" [lonelyGame]="lonelyGame" [id]="1"></app-doodles-player>
    </div>
    <div class="dice-container">
        <app-doodles-diceBoard [lonelyGame]="lonelyGame"></app-doodles-diceBoard>
    </div>
</div>