<div class="games-container">
    <div class="game mastermind-container">
        <div class="title-container">Mastermind</div>
        <div class="picture-container" routerLink="/mastermind">
        </div>
        <div class="button-container"></div>
    </div>
    <div class="game rps-container">
        <div class="title-container">Rock Paper Scissors</div>
        <div class="picture-container" routerLink="/rps"></div>
        <div class="button-container"></div>
    </div>
    <div class="game slots-container">
        <div class="title-container">Slots Machine</div>
        <div class="picture-container" routerLink="/slots"></div>
        <div class="button-container"> </div>
    </div>
    <div class="game memory-container">
        <div class="title-container">Memory</div>
        <div class="picture-container" routerLink="/memory"></div>
        <div class="button-container"></div>
    </div>
    <div class="game doodles-container">
        <div class="title-container">Doodles(under construction)</div>
        <div class="picture-container" routerLink="/doodles"></div>
        <div class="button-container"></div>
    </div>
</div>