<div class="about-container">
    <div class="header">
        <h3>about programming</h3>
        <p>last updated on 02-september-2021</p>
    </div>

    <div class="button-container">
        <button class="btn btn-sm portfolio-button" (click)="showModal('about')">about</button>
    </div>

    <div class="about info">
        My name is Sebastiaan, {{age}}, and currently living in Haarlem (Netherlands).
    </div>
    <div class="programming info">
        I started programming in 2019. Without any programming experience I was curious about the techniques and the way this work was done. I focused on webdesign and making websites and applications for browsers. 
        I started with HTML, CSS and JavaScript. During a year of working together with my friend a neighbour I got to experiment with jQuery, Apache, MySQL, MariaDB and PHP as I made a application for the cafe where I worked. As a learning assignment, my neighbour asked me to transform some components of his application into VueJs/VUEX. This gave me the opportunity to work with a framework for the first time.<br>After I experimented with Angular and sticked with it untill now. My goal is to also make one project in React. This way I have at least minimal experience with these three frameworks. But for now my goal is to get a pro with Angular.
    </div>
    <div class="hobbies info">
        <h3>When I'm not programming</h3>
        <div class="grid-container">
            <div class="subject piano">
                <div class="image"><img src="assets/about/piano-min_900x520.jpg" alt="piano"></div>
                <div class="text">
                    Playing piano is one of the things that make me happy in life. I love sitting down on a lazy sunday afternoon and play along with something on the radio or improvise and cherry pick some nice melodies.
                </div>
            </div>
            <div class="subject food">
                <div class="image"><img src="assets/about/beerplatter-960x616.jpg" alt="">
                </div>
                <div class="text">
                    Enjoying good food, beautiful beers and surprising combinations. Cooking is an important part of my weekly routine. Going out for food as well! Does it get any better then sharing the joy of being served a cold special beer on a friday night?
                </div>
            </div>
            <div class="subject birds">
                <div class="image"><img src="assets/about/white-bellied-sea-eagle.jpg" alt="bird"></div>
                <div class="text">
                    <div class="under">Above: the white bellied sea eagle of which<br>we saw  one in Indonesia.</div><br>
                    Birdwatching is something that just happened to me and makes me helpless the moment I step out of the door. Always aware for something special or common in the corner of my eye. Birdwatching is the closest thing I know to becomming zen.<br>
                    Good to know: don't start the subject unless you really really want to!
                </div>
            </div>
            <div class="subject woodworking">
                <div class="image"><img src="assets/about/DeskIMade.jpg" alt="woodworking"></div>
                <div class="text">
                    A few years ago I decided to become an artisan furniture maker (ambachtelijk meubelmaker). I've made an assortment of furniture for myself and still love the feel and smell of wood and tools.
                </div>
            </div>
        </div>
    </div>
</div>