<div class="about-container">
    <div class="header">
        <h3>about programming</h3>
        <p>last updated on 15-march-2021</p>
    </div>
    <div class="about info">
        My name is Sebastiaan, {{age}}, and currently living in Amsterdam (Netherlands).
    </div>
    <div class="programming info">
        I started programming in 2019. Without any programming experience I was curious about the techniques and the way this work was done. I focused on webdesign and making websites and applications for in a browser. 
        I started with HTML, CSS and JavaScript. Talking to my neighbour (a developer) he invited me to showing me some of his work. I ended up doing some voluntary work in exchance for him teaching me. Here I learned about, jQuery, Apache, MySQL, MariaDB and PHP.
        Soon I changed to NodeJs and started using Angular and some Vue. 
    </div>
    <div class="history info">
        Before I started programming I worked in youth services. Prior to developing I worked as a furnituremaker and tending bar.
    </div>
    <div class="hobbies info">
        <h3>When I'm not programming</h3>
        <div class="grid-container">
            <div class="subject piano">
                <div class="image"><img src="../../../assets/pictures/piano-min_900x520.jpg" alt="piano"></div>
                <div class="text">
                    Playing piano is one of the things that make me happy in life. I love sitting down on a lazy sunday afternoon and play along with something on the radio or improvise and cherry pick some nice melodies.
                </div>
            </div>
            <div class="subject food">
                <div class="image"><img src="../../../assets/pictures/beerplatter-960x616.jpg" alt="">
                </div>
                <div class="text">
                    Enjoying good food, beautiful beers and surprising combinations. Cooking is an important part of my weekly routine. Going out for food as well! Does it get any better then sharing the joy of being served a cold special beer on a friday night?
                </div>
            </div>
            <div class="subject birds">
                <div class="image"><img src="../../../assets/pictures/white-bellied-sea-eagle.jpg" alt="bird"></div>
                <div class="text">
                    <div class="under">Above: the white bellied sea eagle of which<br>we saw  one in Indonesia.</div><br>
                    Birdwatching is something that just happened to me and makes me helpless the moment I step out of the door. Always aware for something special or common in the corner of my eye. Birdwatching is the closest thing I know to becomming zen.<br>
                    Good to know: don't start the subject unless you really really want to!
                </div>
            </div>
            <div class="subject woodworking">
                <div class="image"><img src="../../../assets/pictures/woodworking.jpg" alt="woodworking"></div>
                <div class="text">
                    A few years ago I decided to become an artisan furniture maker (ambachtelijk meubelmaker). I've made an assortment of furniture for myself and still love the feel and smell of wood and tools.
                </div>
            </div>
        </div>
    </div>
</div>