<nav class="navbar">

    <app-color-theme></app-color-theme>

    <div class="nav-header">
        <div class="icons">
            <a routerLink="/">
                <div class="smallIcon icon">
                    ba<span [ngClass]="showBox ? 'turn1' : 'x1'">x</span><span
                        [ngClass]="showBox ? 'turn2' : 'x2'">x</span>ie
                </div>
                <div class="bigIcon icon">
                    BA<span [ngClass]="showBox ? 'turn1' : 'x1'">X</span><span
                        [ngClass]="showBox ? 'turn2' : 'x2'">X</span>IE
                </div>
            </a>
        </div>
        <div class="menu-items">
            <div class="nav-item">
                <a class="nav-link" routerLink="/">
                    <p>Home <span class="sr-only">(current)</span></p>
                    <!-- <img src="../../../assets/pictures/icons/home-1.png" alt="home"> -->
                    <span class="material-icons">
                        home
                    </span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link btns" data-toggle="collapse" routerLink="about">
                    <p>About</p>
                    <!-- <img src="../../../assets/pictures/icons/id-card.png" alt=""> -->
                    <span class="material-icons">
                        fingerprint
                    </span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" (clickOutside)="onClickedOutside($event)"
                    (click)="showBox = !showBox">
                    <p>Portfolio</p>
                    <!-- <img src="../../../assets/pictures/icons/folder-19.png" /> -->
                    <span class="material-icons">
                        folder_open
                    </span>
                </a>
                <div class="dropdown" [@enterAnimation] *ngIf="showBox" id="dropdown">
                    <a class="dropdown-item" routerLink="mybirds">My Birds</a>
                    <!-- <a class="dropdown-item" routerLink="clocks">Clocks</a> -->
                    <a class="dropdown-item" routerLink="games">Games</a>
                    <a class="dropdown-item" routerLink="gadgets">Gadgets</a>
                    <!-- <a class="dropdown-item" routerLink="mastermind">Mastermind</a> -->
                    <!-- <a class="dropdown-item" routerLink="slots">Slots</a> -->
                    <!-- <a class="dropdown-item" routerLink="memory">Memory</a> -->
                    <!-- <a class="dropdown-item" routerLink="rps">Rock Paper Scisors</a> -->
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" routerLink="coronaDashboard">* Corona Dashboard</a> -->
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link btns" href="#" routerLink="contact" data-toggle="collapse">
                    <p>contact</p>
                    <!-- <img src="../../../assets/pictures/icons/smartphone.png" alt=""> -->
                    <span class="material-icons">
                        phone_in_talk
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>