<nav id="nav-main" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <div class="smallIcon">
            baxxie
        </div>
        <div class="bigIcon">
            BAXXIE
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                <!-- <img src="../../../assets/pictures/icons/home-1.png" alt="home"> -->
                <!-- <a class="nav-link" routerLink="/">
                    <span class="sr-only">(current)</span>
                </a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link btns" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    routerLink="about">
                    About
                    <!-- <img src="../../../assets/pictures/icons/id-card.png" alt=""> -->
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Projects
                    <!-- <img src="../../../assets/pictures/icons/folder-19.png" /> -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    routerLink="rps">Rock Paper Scisors</a>
                    <a class="dropdown-item" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    routerLink="mastermind">Mastermind</a>
                    <a class="dropdown-item" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
                    routerLink="clocks">Clocks</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">- More projects soon! -</a>
                    <!-- <a class="dropdown-item">Poker</a> -->
                    <a class="dropdown-item">website functionality</a>
                    <a class="dropdown-item">my personal bird collection</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link btns" href="#" routerLink="contact" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    contact
                    <!-- <img src="../../../assets/pictures/icons/smartphone.png" alt=""> -->
                </a>
            </li>
        </ul>
    </div>
</nav>