.navbar {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    height: 56px;
    margin: 0;
    padding: 0;
    // padding-left: 50px;
    background: linear-gradient(
        to right,
        var(--global-primary),
        var(--global-primary),
        var(--global-primary),
        var(--global-secondary)
    );
    
    .nav-header {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        display: flex;

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--global-logo);

            a {
                text-decoration: none;
                color: inherit;
            }
            .icon {
                z-index: 10;
                
                .x1 {
                    transform: rotateX(0);
                    transform-origin: center;
                    transition: all 800ms cubic-bezier(0.55, -0.79, 0.5, 1.71);
                }
                
                .turn1 {
                    transform: rotate(-360deg);
                    color: var(--logo-X);
                    transform-origin: center;
                    transition: all 800ms cubic-bezier(0.55, -0.79, 0.5, 1.71);
                }

                .x2 {
                    transform: rotate(0);
                    transform-origin: center;
                    transition: all 800ms cubic-bezier(0.55, -0.79, 0.5, 1.71);
                }

                .turn2 {
                    transform: rotate(360deg);
                    color: rgb(48, 80, 58);
                    transform-origin: center;
                    transition: all 800ms cubic-bezier(0.55, -0.79, 0.5, 1.71);
                }
            }
            .smallIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 900;
                left: 2px;
                top: 2px;
                width: 52px;
                height: 52px;
                background: white;
                border-radius: 50%;
            }

            .bigIcon {
                display: none;
                align-items: center;
                padding: 0px 10px;
                font-size: 28px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }

        .menu-items {
            // z-index: 10;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 100%;

            .nav-item {
                // z-index: 10; 
                display: flex;
                height: 100%;
                width: 25%;

                .nav-link {
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 18px;
                    padding: 4px;
                    width: 100%;

                    p {
                        display: none;
                        padding: 0;
                        margin: 0;
                    }

                    img {
                        height: 36px;
                        width: 36px;
                        filter: invert(100%);
                    }

                    span {
                        font-size: 28px;
                        color: white;
                    }
                }

                .dropdown {
                    // above page/content but below navbar
                    z-index: 5;
                    position: absolute;
                    height: 230px;
                    width: 100%;
                    text-align: left;
                    top: 56px;
                    left: 0;
                    right: 0;
                    padding: 8px;
                    color: white;
                    opacity: 0.98;
                    background: linear-gradient(
                        to right,
                        var(--global-primary),
                        var(--global-primary),
                        var(--global-primary),
                        var(--global-secondary),
                    );
                    box-shadow: var(--boxShadowColorDD);
                    
                    a.dropdown-item {
                        z-index: 5;
                        height: 11.5%;
                        color: white;

                        &:hover {
                            background-color: var(--global-primary);
                        }
                    }
                }
            }
        }
    }

    .nav-sidebar {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        position: absolute;
        .nav-header {
            .icons {
                .smallIcon {
                    display: none;

                }

                .bigIcon {
                    display: flex;
                    transform-origin: center;
                }
            }

            .menu-items {
                .nav-item {
                    .nav-link {
                        p {
                            display: inline-block;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
