<nav class="navbar">
    <div class="nav-header">
        <div class="icons">
            <div class="smallIcon icon">
                ba<span [ngClass]="showBox ? 'turn1' : 'x1'">x</span><span [ngClass]="showBox ? 'turn2' : 'x2'">x</span>ie
            </div>
            <div class="bigIcon icon">
                BA<span [ngClass]="showBox ? 'turn1' : 'x1'">X</span><span [ngClass]="showBox ? 'turn2' : 'x2'">X</span>IE
            </div>
        </div>
        <div class="menu-items">
            <div class="nav-item">
                <a class="nav-link" routerLink="/">
                    <p>Home <span class="sr-only">(current)</span></p>
                    <img src="../../../assets/pictures/icons/home-1.png" alt="home">
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link btns" data-toggle="collapse" routerLink="about">
                    <p>About</p>
                    <img src="../../../assets/pictures/icons/id-card.png" alt="">
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" (clickOutside)="onClickedOutside($event)"
                    (click)="showBox = !showBox">
                    <p>Projects</p>
                    <img src="../../../assets/pictures/icons/folder-19.png" />
                </a>
                <div class="dropdown" [@enterAnimation] *ngIf="showBox" id="dropdown">
                    <a class="dropdown-item" routerLink="rps">Rock Paper Scisors</a>
                    <a class="dropdown-item" routerLink="mastermind">Mastermind</a>
                    <a class="dropdown-item" routerLink="clocks">Clocks</a>
                    <a class="dropdown-item" routerLink="mybirds">my birds</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">- More projects soon! -</a>
                    <a class="dropdown-item">website functionality</a>
                    <a class="dropdown-item">Poker</a>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link btns" href="#" routerLink="contact" data-toggle="collapse">
                    <p>contact</p>
                    <img src="../../../assets/pictures/icons/smartphone.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="nav-sidebar">
        <div class="menu-items">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    <!-- <img src="../../../assets/pictures/icons/home-1.png" alt="home"> -->
                    <!-- <a class="nav-link" routerLink="/">
                        <span class="sr-only">(current)</span>
                    </a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link btns" data-toggle="collapse" routerLink="about">About
                        <!-- <img src="../../../assets/pictures/icons/id-card.png" alt=""> -->
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">Projects
                        <!-- <img src="../../../assets/pictures/icons/folder-19.png" /> -->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="collapse" routerLink="rps">Rock Paper Scisors</a>
                        <a class="dropdown-item" data-toggle="collapse" routerLink="mastermind">Mastermind</a>
                        <a class="dropdown-item" data-toggle="collapse" routerLink="clocks">Clocks</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">- More projects soon! -</a>
                        <a class="dropdown-item">website functionality</a>
                        <a class="dropdown-item">my birds</a>
                        <!-- <a class="dropdown-item">Poker</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btns" href="#" routerLink="contact" data-toggle="collapse">
                        contact
                        <!-- <img src="../../../assets/pictures/icons/smartphone.png" alt=""> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>