
    .lower-machine-container {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        background-color: var(--slotBackgroundColor);
        width: 768px;
        height: 380px;
        transform-origin: left top;

        padding: 8px;
        margin: 0 auto;
        box-sizing: border-box;
        z-index: 1000;

        .message-container {
            position: relative;
            display: flex;
            align-items: center;

            width: 100%;
            height: 10%;

            border-bottom: 3px solid var(--slotAccent);
            background-image: var(--slotMessageBackground);
            box-shadow: 0px 1px 4px -2px var(--slotAccent);
            text-shadow: 0px -1px var(--slotAccent);

            .info {
                position: relative;
                padding: 0 0 0 8px;
                display: flex;
                align-items: center;
                height: 90%;
                color: var(--messageColor);
                font-family: monospace;
                font-size: 28px;
            }

            .account {
                width: 35%;
            }

            .win-message {
                width: 65%;
                text-align: center;
                animation: win 3s linear;
            }

            .play-win-message {
                animation: win-message 2s linear;
            }

            .throw-prize {
                animation: throw-prize 1s linear;
            }
        }

        .message-container:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: 50%;
            background: linear-gradient(
                rgba(185, 181, 181, 0.8),
                rgba(221, 212, 212, 0.2)
            );
        }

        .score-reel-container {
            display: flex;
            justify-content: space-between;
            height: 75%;
            width: 100%;

            .score-container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 15%;
                height: 100%;

                img {
                    width: 100%;
                    height: 10%;
                    filter: brightness(0.95);
                }

                .win {
                    animation: win 2s linear;
                }

                .falling {
                    animation: falling 0.2s linear;
                }
            }

            .score-container-1 {
                border-right: 3px solid var(--slotAccent);
            }

            .score-container-2 {
                padding-left: 4px;
                border-left: 3px solid var(--slotAccent);
                // border-right: 3px solid rgb(255,215,0);
            }

            .reels-container {
                display: flex;
                justify-content: space-between;
                border: 3px solid var(--slotAccent);
                width: 40%;
                height: 96%;

                .reel-cont {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    background-color: white;
                    width: 31%;
                    height: 100%;
                    padding: 0 6px;
                    overflow: hidden;
                    
                    .reel {
                        padding: 6px 0;
                        display: flex;
                        flex-direction: column;
                        justify-items: flex-start;
                        height: 5772px;
                        opacity: 1;
                        -webkit-transform: translateY(0px);
                        transform: translateY(0px);
                        background-color: white;
                        width: 100%;
                        transition: transform 1500ms cubic-bezier(0.05, 1.06, 1, 1);
                        
                        img {
                            display: inline-block;
                            width: 80px;
                            height: 100%;
                        }
                    }
                }

                .reel-cont:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: inset 0 0 8px 1px rgb(77, 74, 74);
                }
            }

            .message-board {
                display: flex;
                flex-direction: column;
                width: 25%;

                .brand-container {
                    height: 30%;
                    background: url(/assets/slotsScores/randomBaxxie2.png) no-repeat center;
                    background-size: contain;
                    animation: brand 4s infinite;
                    -webkit-transform: translateY(-10px);
                    transform: translateY(-10px);
                    border-bottom: 3px solid var(--slotAccent);
                }

                .question-prize {
                    height: 10%;
                    background: url(/assets/slotsScores/20-100.png) no-repeat center;
                    background-size: contain;
                }

                .questionmark-container {
                    height: 55%;

                    .grid-container {
                        height: 100%;
                        background: url(/assets/slotsScores/questionGrid.png) no-repeat center;
                        background-size: contain;

                        .qRow {
                            width: 100%;
                            height: 33.3%;

                            img {
                                width: 33.3%;
                                filter: brightness(0.5);
                            }

                            .shine {
                                filter: brightness(1.15);
                            }

                            .qWin012 {
                                animation: qWin012 2s linear;
                            }
                            .qWin35 {
                                animation: qWin35 2s linear;
                            }
                            .qWin4 {
                                animation: qWin4 2s linear;
                            }
                            .qWin678 {
                                animation: qWin678 2s linear;
                            }
                        }
                    }
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: space-around;
            height: 10%;

            .btn {
                position: relative;
                color: rgb(179, 173, 173);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border: 3px solid var(--slotAccent);
                border-radius: 3px;
                background-image: var(--buttonColor);
                box-shadow: 0px 1px 4px -2px #333;
                text-shadow: 0px -1px #333;
            }

            .btn:after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: calc(100% - 4px);
                height: 50%;
                background: linear-gradient(
                    rgba(255, 255, 255, 0.8),
                    rgba(255, 255, 255, 0.2)
                );
            }

            .btn:hover {
                color: white;
                background: var(--buttonHoverColor);
            }

            .btn:active {
                background: linear-gradient(orange, rgb(124, 81, 0));;
                filter: brightness(1.25);
            }

            .onHold {
                color: white;
                background: linear-gradient(
                    rgb(248, 171, 27),
                    rgb(114, 80, 17)
                );
            }

            .onHold:hover {
                color: white;
                background: linear-gradient(rgb(250, 179, 48), rgb(122, 84, 14));
            }

            .noHold {
                background-color: rgb(151, 73, 73);
            }

            .active {
                background-color: var(--slotAccent);
                color: black;
            }

            .active-1 {
                animation: active-1 0.3s linear reverse infinite;
            }

            .active-2 {
                animation: active-2 0.3s linear reverse infinite;
            }

            .winGamble {
                animation: winGamble 2s;
            }


        }

        .button-container-2 {
            position: absolute;
            bottom: -40px;
            width: 100%;
            
            .portfolio-button {
                border: 3px solid var(--global-primary);
                background-color: rgb(69, 137, 168);
                color: white;
                margin: 0 8px;
            }
        }
    }



@media (max-width: 768px) {
    .lower-machine-container {
        .button-container {
            .btn {
                padding: 0;
                margin: 0;
                width: 12%;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

@keyframes active-1 {
    0% {
        color: white;
        background-color: red;
    }
    25% {
        color: black;
        background-color: yellow;
    }
    50% {
        color: white;
        background-color: red;
    }
    75% {
        color: black;
        background-color: yellow;
    }
    100% {
        color: white;
        background-color: red;
    }
}

@keyframes active-2 {
    0% {
        color: black;
        background-color: yellow;
    }
    25% {
        color: white;
        background-color: red;
    }
    50% {
        color: black;
        background-color: yellow;
    }
    75% {
        color: white;
        background-color: red;
    }
    100% {
        color: black;
        background-color: yellow;
    }
}

@keyframes brand {
    0% {
        filter: brightness(0.75);
    }
    25% {
        filter: brightness(1.25);
    }
    50% {
        filter: brightness(0.75);
    }
    75% {
        filter: brightness(1.25);
    }
    100% {
        filter: brightness(0.75);
    }
}

@keyframes win-2b-used {
    0% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    10% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    20% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    30% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    40% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    50% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    60% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    70% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    80% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    90% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    100% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
}

@keyframes win-message {
    0% {
        filter: invert(100%);
    }
    10% {
        filter: invert(0%);
    }
    20% {
        filter: invert(100%);
    }
    30% {
        filter: invert(0%);
    }
    40% {
        filter: invert(100%);
    }
    50% {
        filter: invert(0%);
    }
    60% {
        filter: invert(100%);
    }
    70% {
        filter: invert(0%);
    }
    80% {
        filter: invert(100%);
    }
    90% {
        filter: invert(0);
    }
    100% {
        filter: invert(0%);
    }
}

@keyframes win {
    0% {
        filter: brightness(1.5);
    }
    10% {
        filter: brightness(0.5);
    }
    20% {
        filter: brightness(1.5);
    }
    30% {
        filter: brightness(0.5);
    }
    40% {
        filter: brightness(1.5);
    }
    50% {
        filter: brightness(0.5);
    }
    60% {
        filter: brightness(1.5);
    }
    70% {
        filter: brightness(0.5);
    }
    80% {
        filter: brightness(1.5);
    }
    90% {
        filter: brightness(0.5);
    }
    100% {
        filter: brightness(0.5);
    }
}

@keyframes throw-prize {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes falling {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes winGamble {
    0% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    10% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    20% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    30% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    40% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    50% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    60% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    70% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    80% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    90% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    100% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
}

@keyframes qWin012 {
    0% {
        filter: brightness(1.15);
    }
    10% {
        filter: brightness(0.75);
    }
    20% {
        filter: brightness(0.75);
    }
    30% {
        filter: brightness(0.75);
    }
    40% {
        filter: brightness(1.15);
    }
    50% {
        filter: brightness(1.15);
    }
    60% {
        filter: brightness(0.75);
    }
    70% {
        filter: brightness(1.15);
    }
    80% {
        filter: brightness(0.75);
    }
    90% {
        filter: brightness(1.15);
    }
    100% {
        filter: brightness(0.75);
    }
}

@keyframes qWin35 {
    0% {
        filter: brightness(0.75);
    }
    10% {
        filter: brightness(1.15);
    }
    20% {
        filter: brightness(0.75);
    }
    30% {
        filter: brightness(1.15);
    }
    40% {
        filter: brightness(0.75);
    }
    50% {
        filter: brightness(1.15);
    }
    60% {
        filter: brightness(0.75);
    }
    70% {
        filter: brightness(1.15);
    }
    80% {
        filter: brightness(0.75);
    }
    90% {
        filter: brightness(1.15);
    }
    100% {
        filter: brightness(0.75);
    }
}

@keyframes qWin4 {
    0% {
        filter: brightness(0.75);
    }
    10% {
        filter: brightness(1.15);
    }
    20% {
        filter: brightness(0.75);
    }
    30% {
        filter: brightness(1.15);
    }
    40% {
        filter: brightness(0.75);
    }
    50% {
        filter: brightness(0.75);
    }
    60% {
        filter: brightness(1.15);
    }
    70% {
        filter: brightness(0.75);
    }
    80% {
        filter: brightness(1.15);
    }
    90% {
        filter: brightness(0.75);
    }
    100% {
        filter: brightness(1.15);
    }
}

@keyframes qWin678 {
    0% {
        filter: brightness(0.75);
    }
    10% {
        filter: brightness(0.75);
    }
    20% {
        filter: brightness(1.15);
    }
    30% {
        filter: brightness(0.75);
    }
    40% {
        filter: brightness(0.75);
    }
    50% {
        filter: brightness(1.15);
    }
    60% {
        filter: brightness(0.75);
    }
    70% {
        filter: brightness(1.15);
    }
    80% {
        filter: brightness(0.75);
    }
    90% {
        filter: brightness(1.15);
    }
    100% {
        filter: brightness(0.75);
    }
}
