.lower-machine-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(49, 37, 23);
    width: 760px;
    height: 380px;
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
    
    .message-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 10%;
        background-color: rgb(31, 29, 29);
        border-bottom: 3px solid rgb(255,215,0);
        background-color: black;
        background-image: linear-gradient(rgb(31, 30, 30), rgb(6, 5, 5));
        box-shadow: 0px 1px 4px -2px rgb(255,215,0);
        text-shadow: 0px -1px rgb(255,215,0);

        .info {
            position: relative;
            padding: 0 0 0 8px;
            display: flex;
            align-items: center;
            height: 90%;
            color: rgb(247, 231, 162);
            font-family: monospace;
            font-size: 28px;
        }

        .account {
            width: 35%;
        }

        .win-message {
            width: 65%;
            text-align: center;
            filter: invert(0);
        }

        .play-win-message {
            animation: win-message 2s linear;
        }

        .throw-prize {
            animation: throw-prize 1s linear;
        }
    }

    .message-container:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(121, 118, 118, 0.8), rgba(255,255,255,0.2));
    }

    .score-reel-container {
        display: flex;
        justify-content: space-between;
        height: 75%;
        width: 100%;

        .score-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 15%;
            height: 100%;
            
            img {
                width: 100%;
                height: 27px;
                filter: invert(0.1);
            }

            .win {
                animation: win 2s linear;
            }

            .falling {
                animation: falling .2s linear;
            }
        }

        .score-container-1 {
            border-right: 3px solid rgb(255,215,0);
        }

        .score-container-2 {
            padding-left: 4px;
            border-left: 3px solid rgb(255,215,0);
            // border-right: 3px solid rgb(255,215,0);
        }
        
        .reels-container {
            display: flex;
            justify-content: space-between;
            border: 3px solid rgb(255,215,0);
            width: 40%;
            height: 262px;

            .reel-cont {
                position: relative;
                display: flex;
                justify-content: center;
                background-color: white;
                width: auto;
                height: 256px;
                padding: 0 6px;
                overflow: hidden;

                .reel {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    opacity: 1;
                    transform: translateY(0);
                    background-color: white;
                    width: 80px;
                    transition: 1500ms cubic-bezier(.05,1.06,1,1);
                }

                .bug {

                    animation: bug 0.3s linear;
                    transition: 200 ease-in-out;
                }
            }

            .reel-cont:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 8px 1px rgb(77, 74, 74);
            }
        }

        .message-board {
            display: flex;
            flex-direction: column;
            width: 25%;

            .brand-container {
                height: 30%;
                background-image: url(/assets/pictures/slotsScores/randomBaxxie2.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                filter: invert(10%);
                transform: translateY(-10px);
                border-bottom: 3px solid rgb(255,215,0)
            }

            .question-prize {
                height: 10%;
                background-image: url(/assets/pictures/slotsScores/20-100.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .questionmark-container {
                height: 55%;

                .grid-container {
                    height: 100%;
                    background-image: url(/assets/pictures/slotsScores/questionGrid.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    .qRow {
                        width: 100%;
                        height: 33.3%;
                        
                        img {
                             width: 33.3%;
                            filter: invert(.3);
                        }
                        
                        .shine {
                            filter: invert(0);
                        }

                        .qWin012 {
                            animation: qWin012 2s linear;
                        }
                        .qWin35 {
                            animation: qWin35 2s linear;
                        }
                        .qWin4 {
                            animation: qWin4 2s linear;
                        }
                        .qWin678 {
                            animation: qWin678 2s linear;
                        }

                    }
                }
            }
        }
    }   

    .button-container {
        display: flex;
        justify-content: space-around;
        height: 10%;

        .btn {
            position: relative;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 3px solid rgb(255,215,0);
            border-radius: 3px;
            background-color: rgb(151, 73, 73);
            background-image: linear-gradient(rgb(151, 73, 73),rgb(107, 48, 48));
            box-shadow: 0px 1px 4px -2px #333;
            text-shadow: 0px -1px #333;
        }

        .btn:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: 50%;
            background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
        }
        
        .btn:hover {
            color: white;
            background: linear-gradient(rgb(194, 91, 91), rgb(88, 42, 42));
        }
        
        .onHold {
            color: white;
            background: linear-gradient(rgb(248, 171, 27),rgb(114, 80, 17));
        }

        .onHold:hover {
            color: white;
            background: linear-gradient(orange,rgb(124, 81, 0));
        }

        .noHold {
            background-color: rgb(151, 73, 73);
        }

        .active {
            background-color: rgb(255,215,0);
            color: black;
        }

        .active-1 {
            animation: active-1 0.3s linear reverse infinite;
        }

        .active-2 {
            animation: active-2 0.3s linear reverse infinite;
        }

        .winGamble {
            animation: winGamble 2s;
        }
    }
}

@keyframes active-1 {
    0% {
        color: white;
        background-color: red;
    }
    25% {
        color: black;
        background-color: yellow;
    }
    50% {
        color: white;
        background-color: red;
    }
    75% {
        color: black;
        background-color: yellow;
    }
    100% {
        color: white;
        background-color: red;
    }
}

@keyframes active-2 {
    0% {
        color: black;
        background-color: yellow;
    }
    25% {
        color: white;
        background-color: red;
    }
    50% {
        color: black;
        background-color: yellow;
    }
    75% {
        color: white;
        background-color: red;
    }
    100% {
        color: black;
        background-color: yellow;
    }
}

@keyframes win-2b-used {
    0% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    10% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    20% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    30% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    40% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    50% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    60% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    70% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    80% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
    90% {
        color: black;
        background-color: rgb(151, 133, 73);
    }
    100% {
        color: white;
        background-color: rgb(151, 73, 73);
    }
}

@keyframes win-message {
    0% {
        filter: invert(100%);
    }
    10% {
        filter: invert(0%);
    }
    20% {
        filter: invert(100%);
    }
    30% {
        filter: invert(0%);
    }
    40% {
        filter: invert(100%);
    }
    50% {
        filter: invert(0%);
    }
    60% {
        filter: invert(100%);
    }
    70% {
        filter: invert(0%);
    }
    80% {
        filter: invert(100%);
    }
    90% {
        filter: invert(0);
    }
    100% {
        filter: invert(0%);
    }  
}

@keyframes win {
    0% {
        filter: invert(100%)
    }
    10% {
        filter: invert(0%)
    }
    20% {
        filter: invert(100%)
    }
    30% {
        filter: invert(0%)
    }
    40% {
        filter: invert(100%)   
    }
    50% {
        filter: invert(0%)
    }
    60% {
        filter: invert(100%)
    }
    70% {
        filter: invert(0%)
    }
    80% {
        filter: invert(100%)
    }
    90% {
        filter: invert(0)
    }
    100% {
        filter: invert(0%)
    }  
}

@keyframes throw-prize {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(-100px);
    }  
}

@keyframes falling {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }  
}

@keyframes winGamble {
    0% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    10% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    20% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    30% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    40% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    50% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    60% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    70% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    80% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
    90% {
        color: white;
        background-color: rgb(27, 13, 13);
    }
    100% {
        color: black;
        background-color: rgb(245, 9, 9);
    }
}

@keyframes qWin012 {
    0% {
        filter: invert(0);
    }
    10% {
        filter: invert(.3);
    }
    20% {
        filter: invert(.3);
    }
    30% {
        filter: invert(.3);
    }
    40% {
        filter: invert(.0);
    }
    50% {
        filter: invert(.0);
    }
    60% {
        filter: invert(.3);
    }
    70% {
        filter: invert(0);
    }
    80% {
        filter: invert(.3);
    }
    90% {
        filter: invert(0);
    }
    100% {
        filter: invert(.3);
    }  
}

@keyframes qWin35 {
    0% {
        filter: invert(.3);
    }
    10% {
        filter: invert(0);
    }
    20% {
        filter: invert(.3);
    }
    30% {
        filter: invert(0);
    }
    40% {
        filter: invert(.3);
    }
    50% {
        filter: invert(0);
    }
    60% {
        filter: invert(.3);
    }
    70% {
        filter: invert(0);
    }
    80% {
        filter: invert(.3);
    }
    90% {
        filter: invert(0);
    }
    100% {
        filter: invert(.3);
    }  
}

@keyframes qWin4 {
    0% {
        filter: invert(.3);
    }
    10% {
        filter: invert(0);
    }
    20% {
        filter: invert(.3);
    }
    30% {
        filter: invert(0);
    }
    40% {
        filter: invert(.3);
    }
    50% {
        filter: invert(.3);
    }
    60% {
        filter: invert(0);
    }
    70% {
        filter: invert(.3);
    }
    80% {
        filter: invert(0);
    }
    90% {
        filter: invert(.3);
    }
    100% {
        filter: invert(0);
    }  
}

@keyframes qWin678 {
    0% {
        filter: invert(.3);
    }
    10% {
        filter: invert(.3);
    }
    20% {
        filter: invert(0);
    }
    30% {
        filter: invert(.3);
    }
    40% {
        filter: invert(.3);
    }
    50% {
        filter: invert(0);
    }
    60% {
        filter: invert(.3);
    }
    70% {
        filter: invert(0);
    }
    80% {
        filter: invert(.3);
    }
    90% {
        filter: invert(0);
    }
    100% {
        filter: invert(.3);
    }  
}

@keyframes bug {
    0% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(-11%)
    }
    35% {
        transform: translateY(-8%)
    }
    45% {
        transform: translateY(-10%)
    }
    100% {
        transform: translateY(-10%)
    }
}
