.close {

    border: 3px solid var(--global-secondary);
    font-size: 24px;
    border: none;
    background-color: white;

}

.portfolio-button {
    border: 3px solid var(--global-primary);
    background-color: rgb(69, 137, 168);
    color: white;
}