<div class="graph-selection-container">

    <div class="select-container">

        <mat-form-field class="select" appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select [(value)]="this.selectedCountry" (selectionChange)="setCountry($event.value)">
                <mat-option value="world">None</mat-option>
                <mat-option *ngFor="let country of covidCountries" [value]="country.Slug">{{ country.Slug }}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <div class="world-map-small select" (click)="setCountry('world')">
            <!-- <img src="http://localhost/Sites/Baxxie-col" alt=""> -->
        </div>

        <mat-form-field *ngIf="this.dataModel.selectedCountry === 'world'" class="select" appearance="fill">
            <mat-label>Sort By: </mat-label>
            <select matNativeControl (change)="selectSortType($event.target.value)">
                <!-- <option value=""></option> -->
                <option *ngFor="let type of dataModel.sortedBy" [value]="type.type"
                    [selected]="selectedSortType === type.type">
                    {{ type.type }}</option>
            </select>
        </mat-form-field>
    </div>

    <div id="graph-params">
        <div class="btn confirmed" [ngClass]="dataModel.dataParams[0].value === true ? 'checked' : 'unchecked'"
            (click)="processParam(dataModel.dataParams[0].param)">{{ dataModel.dataParams[0].name}}</div>
        <div class="btn recovered" [ngClass]="dataModel.dataParams[1].value === true ? 'checked' : 'unchecked'"
            (click)="processParam(dataModel.dataParams[1].param)">{{ dataModel.dataParams[1].name}}</div>
        <div class="btn deceased" [ngClass]="dataModel.dataParams[2].value === true ? 'checked' : 'unchecked'"
            (click)="processParam(dataModel.dataParams[2].param)">{{ dataModel.dataParams[2].name}}</div>
    </div>

</div>