<div class="mat-elevation-z8 bird-table-container">
    <mat-table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="birdId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id:</th>
            <td class="text-center" mat-cell *matCellDef="let row"> {{row.birdId}} </td>
        </ng-container>
        <ng-container matColumnDef="birdName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name: </th>
            <td mat-cell *matCellDef="let row" [innerHTML]="row.birdName"></td>
        </ng-container>
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>location: </th>
            <td mat-cell *matCellDef="let row">{{row.location}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th class="text-right" mat-header-cell *matHeaderCellDef mat-sort-header>First<br>Sighting: </th>
            <td class="mat-row-center mat-cell" *matCellDef="let row">
                {{row.date}} </td>
        </ng-container>
        <ng-container matColumnDef="picture">
            <th class="text-right" mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
            <td class="mat-row-center mat-cell" *matCellDef="let row">
                <img (click)="openModal(row)"
                    [src]="row.picture ? photoPicUrl : 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'"
                    alt="camera-icon"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

    <div class="bird-modal" *ngIf="modal">
        <div class="modal-image">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
            <a [href]="modalImage" target="_blank"><img [src]="modalImage" alt=""></a>
        </div>
        <div class="modal-text">
            {{modalText}}
        </div>

    </div>
</div>