.bird-table-container {
    // position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(211, 209, 209);
    border-bottom: 5px solid var(--global-primary);


    .mat-table {
        width: 100%;
        background-color: rgba(211, 209, 209);
        box-shadow: 1px 0px 6x 1px black;

        .mat-sort-header {
            font-size: 11px;
            vertical-align: middle;
            color: rgb(145, 143, 143);
        }
        
        .mat-cell {
            font-size: 11px;
            color: rgb(145, 143, 143);
            padding: 8px 8px 8px 0;
        }

        .mat-column-birdName {
            width: 100%;
        }

        .mat-column-date {
            text-align: left;
            transform: translateX(16px);
        }
        .mat-column-picture {
            text-align: left;
            transform: translateX(20px);
        }
        .mat-row-center {
            text-align: center;
        }

        .mat-row {
            height: auto;
        }

        img {
            height: 22px;
        }
    }

    .bird-modal {
        position: fixed;
        top: 70px;
        width: 100%;

        height: auto;
        max-height: 100%;
        border: 2px solid white;
        border-radius: 4px;
        background: grey;
        box-shadow: 1px 1px 4px 1px black;

        .modal-image {
            // width: 100%;
            // height: 100%;

            .close {
                position: absolute;
                top: 4px;
                right: 4px;
                color: white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
                span {
                    text-shadow: 1px 3px 3px solid black;

                }
            }
            
            img {
                
                width: 100%;
                height: 100%;
            }

        }
                .modal-text {
                    color: white;
                    padding: 8px;
                    text-align: center;
                }
    }
}

@media (min-width: 500px) {
    .bird-table-container {
        width: 100%;
        padding: 10px 0 10px;
        border-bottom: 10px solid var(--global-primary);

    
        .mat-table {
            width: 100%;
            background-color: rgba(211, 209, 209, 0.79);
            box-shadow: 1px 0px 6x 1px black;
    
            .mat-sort-header {
                font-size: 14px;
                vertical-align: middle;
                color: rgb(145, 143, 143);
            }
            
            .mat-cell {
                font-size: 14px;
                color: rgb(145, 143, 143);
                padding: 12px 12px 12px 0;
            }

            .mat-column-birdId {
                width: 10%;
            }
            
            .mat-column-birdName {
                width: 70%;
            }

            .mat-column-location {
                width: 20%;
            }
    
        }
    
    }

    .bird-modal {
        position: fixed;
        top: 70px;
        width: 90%;
        max-width: 860px;
        height: auto;
        max-height: 100%;
        border: 3px solid white;
        background: grey;

        .modal-image {
            width: 100%;
            max-width: 860px;
            height: 100%;
            
            img {
                
                width: 90%;
                max-width: 860px;
                height: 100%;
            }
        }
    }

}