<div class="gadgets-container">
    <div class="gadget calculator-container">
        <div class="title-container">Calculator</div>
        <div class="picture-container" routerLink="/calculator">
        </div>
        <div class="button-container"></div>
    </div>
    <div class="gadget happyballs-container">
        <div class="title-container">Happy Balls</div>
        <div class="picture-container" routerLink="/happyBalls"></div>
        <div class="button-container"></div>
    </div>
    <div class="gadget corona-dashboard-container">
        <div class="title-container">Corona Dashboard</div>
        <div class="picture-container" routerLink="/coronaDashboard"></div>
        <div class="button-container"></div>
    </div>
    <div class="gadget clocks-container">
        <div class="title-container">Clocks</div>
        <div class="picture-container" routerLink="/clocks"></div>
        <div class="button-container"></div>
    </div>
</div>
