.my-forms-container {

    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 76px 0px 12px;
    overflow: hidden;

    .form-style-container {

        .button-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
                background-color: var(--global-primary);
                padding: 4px;
                font-size: 11px;
                width: 19%;
            }
        }
    }

    .my-form {
        margin: 0 auto;
        width: 90%;
        
        .example-form {
            width: 100%;
            .example-full-width {
                width: 100%;
            }

            .example-radio-group {
                display: flex;
                flex-direction: column;
                margin: 15px 0;
              }
              
              .example-radio-button {
                margin: 5px;
              }
        }
    }
}
