<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

            <a class="nav-link btns" href="#" data-toggle="collapse" routerLink="about">About
                <!-- <img src="../../../assets/pictures/icons/id-card.png" alt=""> -->
            </a>

            <button mat-button [matMenuTriggerFor]="menu">projects</button>
            <mat-menu #menu="matMenu">
                <a mat-list-item routerLink="rps">Rock Paper Scisors</a>
                <a mat-list-item routerLink="mastermind">Mastermind</a>
                <a mat-list-item routerLink="clocks">Clocks</a>
                <div class="dropdown-divider"></div>
                <a mat-list-item>- More projects soon! -</a>
                <a mat-list-item>website functionality</a>
                <a mat-list-item>my birds</a>
                <a mat-list-item>Poker</a>
            </mat-menu>

            <a class="nav-link btns" href="#" routerLink="contact" data-toggle="collapse">
                contact
                <!-- <img src="../../../assets/pictures/icons/smartphone.png" alt=""> -->
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>baxxie-col</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>