<div class="rotate-screen">
    <span>Please rotate your screen</span>
</div>

<div class="memory-container">

    <div class="info-container">
        <div class="points-container"><span>collected pairs: </span>{{ memoryAccount.points || 0 }}</div>
        <div class="attempts-container"><span>cards flipped: </span>{{ memoryAccount.attempts || 0 }}</div>
        <div class="button-container">
            <button class="btn primaryButton" id="btn-primary">{{ memoryAccount.primaryButtonFunction }}</button>
            <button class="btn secondaryButton" id="btn-secondary" (click)="showModal('landScape')">{{ memoryAccount.secondaryButtonFunction }}</button>
        </div>
    </div>

    <div class="select-theme-container" id="select-theme-container">
        <div class="title-container">Choose a Theme</div>
        <div class="all-themes" id="all-themes"></div>

    </div>

    <div class="game-container" id="game-container">
        <div class="card-holder" id="card-holder-1" style="--aspect-ratio: 2/1;">
            <img class="card open" id="card-01" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-01" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-2">
            <img class="card open" id="card-02" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-02" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-3">
            <img class="card open" id="card-03" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-03" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-4">
            <img class="card open" id="card-04" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-04" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-5">
            <img class="card open" id="card-05" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-05" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-6">
            <img class="card open" id="card-06" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-06" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-7">
            <img class="card open" id="card-07" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-07" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-8">
            <img class="card open" id="card-08" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card card close" id="back-08" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-9">
            <img class="card open" id="card-09" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-09" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-10">
            <img class="card open" id="card-10" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-10" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-11">
            <img class="card open" id="card-11" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-11" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-12">
            <img class="card open" id="card-12" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-12" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-13">
            <img class="card open" id="card-13" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-13" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-14">
            <img class="card open" id="card-14" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-14" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-15">
            <img class="card open" id="card-15" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-15" src="" alt="">
        </div>
        <div class="card-holder" id="card-holder-16">
            <img class="card open" id="card-16" src="assets/memorythemes/diamond.png" alt="diamond">
            <img class="card close" id="back-16" src="" alt="">
        </div>
    </div>
</div>

