<div class="calculator-wrapper">
    <div class="calculator">
        <div class="top-bar">topbar</div>
        <div class="display-wrapper">
            <div class="display display-row-top">display row small25 + 14,4 x 1234,80</div>
            <div class="display display-row-main">{{ currentNumber || 0 }}</div>
        </div>
        <div class="button-container" (click)="pushButton($event)">
            <div class="row row-1">
                <div class="btn sin" id=""></div>
                <div class="btn cos" id=""></div>
                <div class="btn tan" id=""></div>
                <div class="btn log" id=""></div>
            </div>
            <div class="row row-2">
                <div class="btn sin" id=""></div>
                <div class="btn cos" id=""></div>
                <div class="btn tan" id=""></div>
                <div class="btn log" id=""></div>
            </div>
            <div class="row row-3">
                <div class="btn sin" id="sin">sin</div>
                <div class="btn cos" id="cos">cos</div>
                <div class="btn tan" id="tan">tan</div>
                <div class="btn log" id="log">log</div>
            </div>
            <div class="row row-4">
                <div class="btn memory" id="memory">m</div>
                <div class="btn square" id="square">x2</div>
                <div class="btn root" id="root">v</div>
                <div class="btn divide" id="divide">/</div>
            </div>
            <div class="row row-5">
                <div class="btn num-1" id="1">1</div>
                <div class="btn num-2" id="2">2</div>
                <div class="btn num-3" id="3">3</div>
                <div class="btn multiply" id="multiply">x</div>
            </div>
            <div class="row row-6">
                <div class="btn num-4" id="4">4</div>
                <div class="btn num-5" id="5">5</div>
                <div class="btn num-6" id="6">6</div>
                <div class="btn plus" id="plus">+</div>
            </div>
            <div class="row row-7">
                <div class="btn num-7" id="7">7</div>
                <div class="btn num-8" id="8">8</div>
                <div class="btn num-9" id="9">9</div>
                <div class="btn minus" id="minus">-</div>
            </div>
            <div class="row row-7">
                <div class="btn num-question" id="question">?</div>
                <div class="btn num-0" id="0">0</div>
                <div class="btn num-dot" id="dot">.</div>
                <div class="btn equal" id="equal">=</div>
            </div>
        </div>
    </div>
</div>