.situation-wrapper {
    width: 100%;

    display: inline-block;

    .graph-container {
        width: 100%;
        position: relative;

            .svg-container {
                display: flex;
                width: 100%;
                vertical-align: top;
                justify-content: center;
                overflow: scroll;
                
                .svg-content {
                    position: relative;

                    .tooltip {	
                        position: absolute;			
                        text-align: center;			
                        width: 100px;					
                        height: 28px;					
                        padding: 2px;				
                        border-radius: 8px;			
                        pointer-events: none;	
                        background-color: red;   
                    }  
                }
                .svg-content-responsive {
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
            }



    }
}
