<div class="mybirds-container">
    <div class="opening-text">
        <div class="header">Birding</div>
        <div class="text">When I was twenty four, I lived at the border between the city of Haarlem and the dunes. One sunny day I was driving back home and saw three buzzards circling a hundred meters away from my home and only about 50 meter high.<br>
        This was the first time I became aware birds of prey were so close around me. They looked to gracious and awkwardly bigger then I would have guessed. So, hoping to see them again I was trying to spot something everytime I looked in the direction I saw them that first time. Soon I realised  they were flying there all the time. I just never noticed<br>
        And as easy as that my love for birds was born...</div>
    </div>
    <div class="binocular-container">
        <div class="binocular-one-wrapper">
            <div class="image-wrapper">
                <img src="#" alt="binocular one">
            </div>
            <div class="text-wrapper">
                This binocular is my friend since 2009.
            </div>
        </div>
        <div class="binocular-two-wrapper">
            <div class="image-wrapper">
                <img src="#" alt="binocular two">
            </div>
            <div class="text-wrapper">
                This binocular is my friend since 2006.
            </div>
        </div>
    </div>
</div>
