<div class="mybirds-container">
    <div class="opening-text">
        <div class="header">Birding</div>
        <div class="text">When I was twenty four, I lived at the border between the city of Haarlem and the dunes. One
            sunny day I was driving back home and saw three buzzards circling a hundred meters away from my home and
            only about 50 meter high.<br>
            This was the first time I became aware birds of prey were so close around me. They looked to gracious and
            awkwardly bigger then I would have guessed. So, hoping to see them again I was trying to spot something
            everytime I looked in the direction I saw them that first time. Soon I realised they were flying there all
            the time. I just never noticed<br>
            And as easy as that my love for birds was born...
        </div>
    </div>
    <div class="binocular-container">
        <div class="binocular-wrapper">
            <div class="image-wrapper">
                <img src="assets/mybirds/Tern10X45DCF.jpg" alt="Tern 10X45 DCF">
            </div>
            <div class="text-wrapper">
                <span>Tern 10x45 DCF</span><br>
                This binocular is my friend since 2009.
            </div>
        </div>
        <div class="binocular-wrapper">
            <div class="image-wrapper">
                <img src="assets/mybirds/NikonSpottingScope80a.jpg" alt="Nikon Spotting scope 80a">
            </div>
            <div class="text-wrapper">
                <span>Nikon Spotting scoppe 80a</span><br>
                This spotting scope is helping me out since 2006.
            </div>
        </div>
    </div>
    <!-- <div class="story-wrapper">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum quisquam eius, doloremque ab eveniet maxime
        consectetur tempora! Ipsa temporibus in autem animi quam optio fugiat numquam explicabo quaerat deserunt,
        aliquid ducimus? Id quibusdam saepe officiis odio dignissimos molestias aperiam deleniti? Aperiam aliquid est
        delectus, adipisci et possimus repellat reprehenderit laborum sapiente maiores rem. Fugit qui deleniti, eius
        recusandae nulla exercitationem quos deserunt minus quod incidunt! Necessitatibus, pariatur numquam voluptas
        aliquid dolor reprehenderit aperiam iste atque unde voluptatibus, porro inventore deleniti cum, nobis architecto
        neque repellat? Sit dignissimos quas libero, nulla voluptatem ipsam sequi quo qui consectetur repellendus. Omnis
        quo facilis, nobis, quis vitae nemo doloribus minima veniam facere saepe labore iste velit eligendi explicabo
        libero aspernatur quaerat. Deserunt beatae, nobis a provident autem accusamus, consequatur eos quibusdam vel sed
        iusto at, eligendi veritatis ducimus. Enim recusandae voluptas dolores iure fuga obcaecati quibusdam similique,
        temporibus odio culpa provident odit repellat eligendi.
    </div> -->
    <div class="special-birds">
        <div class="text">
            For different reasons, some birds have a special meaning. Also, as a birdwatcher, you keep a list of birds you saw or heard and the location you saw them first. 
        </div>
        <div class="bird-box">
            <div class="bird-wrapper bird-1">

                <div class="bird-box-title"><a href="https://en.wikipedia.org/wiki/Hoopoe" target="_black">Hoopoe
                    <div>
                        <div class="image-wrapper">
                            <img src="assets/mybirds/hop.jpg" alt="boids">
                        </div>
                        <div class="bird-box-text">Many times I went out to go and look for the Hoopoe. We probably saw him flying in a park in Barcelona. But the Hoopoe stays unconfirmed.</div>
                    </div></a>
                </div>
            </div>
            <div class="bird-wrapper bird-2">
                <div class="text-wrapper">
                    <div class="bird-box-title"><a href="https://en.wikipedia.org/wiki/Azores_bullfinch" target="_blank">Priolo</a>
                    </div>

                </div>
                <div class="image-wrapper">
                    <img src="assets/mybirds/priolo.jpg" alt="birdies">
                </div>
                <div class="bird-box-text">The Azores Bullfinch or locally "Priolo" is a bird which was presumed extict. In the 70's a population of 60-80 birds were discovered today (2021) there are around a 1000 and can only be found on the east side of a particular Island of the Azores. We visited this part of the Island and believe we heard it but during this foggy day we never saw one.</div>
            </div>

        </div>

    <div class="button-container">
        <button class="btn btn-sm portfolio-button" (click)="showModal('table')">table</button>

    </div>

        <app-my-bird-table></app-my-bird-table>

        <div class="links">
            <a href="https://www.sovon.nl/nl" target="_blank">sovon</a>
            <a href="https://www.vogelbescherming.nl/" target="_blank">vogelbescherming</a>
            <a href="https://www.waarneming.nl/" target="_blank">waarneming.nl</a>
        </div>
    </div>
</div>