<div class="main-page">


    <div class="opening-text">
        <p><span>Welcome to my portfolio.</span>
            <br>
            On this website I share some (parts) of my projects
        </p>
    </div>
    
        <button class="btn btn-sm portfolio-button" (click)="showModal('buttons')">buttons</button>
        <button class="btn btn-sm portfolio-button" (click)="showModal('colorMode')">color mode</button>
        <button class="btn btn-sm portfolio-button" (click)="showModal('navBar')">navbar</button>
        <button class="btn btn-sm portfolio-button" (click)="showModal('title')">title & logo</button>

    <div id="dialog"></div>
    <br><br>
    <h4>This website is partially under construction</h4>


    <div class="quote">
        <p class="line"><i>- “Life is 10 percent what happens to you and 90 percent how you react to it.” -</i></p>
        <p class="author">- Charles R. Swindoll -</p>
    </div>
</div>