.main-page {
    // position: relative;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColor1);

    h4 {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        // background-color: var(--global-primary);
        background-color: var(--global-primary);
        border-bottom: 2px solid red;
        margin: 0 auto;
        width: 80%;
        max-width: 300px;
    }

    .opening-text {
        margin: 0 auto;
        padding: 124px 10px 10px;

        max-width: 400px;
        background-color: var(--backgroundColor1);

        color: var(--global-secondary);

        span {
            font-size: 24px;
        }

        p {
            font-weight: bold;
        }
    }

    .portfolio-button {
        border: 1px solid var(--global-secondary);
        border-bottom: 2px solid var(--global-secondary);
        background-color: var(--global-primary);
        color: var(--buttonTextColor);
        margin: 4px;
    }

    .quote {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        font-size: 10px;
        color: var(--textColor1);

        .line {
            margin: 0 auto;
            max-width: 280px;
            padding-top: 32px;
        }

        .author {
            padding: 16px 0px;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .main-page {
        .quote {
            position: relative;
            bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .main-page {

        .opening-text {
            padding: 64px 10px 10px;
        }

        .button-container {
            .text {
                font-size: 11px;
            }

            .portfolio-button {
                border: 1px solid var(--global-primary);
            }
        }

        .quote {
            position: relative;
            bottom: 0;
        }
    }
}
