<div class="main-page">

    <div class="opening-text">
        <p>Welcome to my portfolio.
            <br><br>
            On this website I share some of my lazy sunday projects. But also some details I picked from larger
            projects.
        </p>
    </div>
        <div class="button-container">
            <div class="text">Part of this portfolio are the "info button"s. Here I'll share additional info about the content in a way that doesnt conflict with the layout to much.</div>
            <button class="btn btn-sm portfolio-button" (click)="showModal()">info button</button>
        </div>

    <div id="dialog"></div>
    <br><br>
    <h4>This website is under construction <br>some parts will be visible</h4>

    <div class="quote">
        <p class="line"><i>- “Life is 10 percent what happens to you and 90 percent how you react to it.” -</i></p>
        <p class="author">- Charles R. Swindoll -</p>
    </div>
</div>