<div class="dashboard-wrapper">
    <h2>Under construction / not for mobile</h2>

    <h3 class="text">more features and better visualisations are comming soon</h3>
    <div class="button-container">
        <button class="btn btn-sm portfolio-button" (click)="showModal('D3')">D3 visualisation</button>
        <button class="btn btn-sm portfolio-button" (click)="showModal('API')">API</button>

    </div>

        <app-world-situation id="app-world-situation" (sendDate)="setDate($event)" *ngIf=!select></app-world-situation>
        <h5>* for now the datais provided by covid19api.com. A more reliable data source is needed for it turned out some data gets scambled. The recovered cases were being tracked but are now set to zero. Also some countries have huge gaps in data which causes flat lines in the graphes. Since this is my own dashboard I'll wait for a while to see if the data gets re-corrected.</h5>

        <div class="current-numbers-container">
            <div class="cont confirmed-container">
                <div class="box value-box">{{ this.confirmed}}</div>
                <div class="box description-box">world wide<br>confirmed cases</div>
            </div>
            <div class="cont confirmed-delta-container">
                <div class="box value-box">{{ this.recovered }}</div>
                <div class="box description-box">world wide<br>recovery cases</div>
            </div>
            <div class="cont deaths-container">
                <div class="box value-box">{{ this.deceased }}</div>
                <div class="box description-box">world wide<br>deceased</div>
            </div>

        </div>
    </div>