<div class="doodle-container">
    <header>
        <button (click)="newGame()">New Game</button>
        <button routerLink="/doodlesLobby">Create Room</button>
        <div class="score-container">
            <div class="score userScore">your score: {{ this.lonelyGame.players[0].doodleScore || 0 }}</div>

            <!-- foreach opponent -->

            <div class="score compScore">opponents score: {{ this.lonelyGame.players[1].doodleScore || 0}}</div>
        </div>
    </header>
    
    <app-gameBoard [lonelyGame]="lonelyGame"></app-gameBoard>
</div>