<div class="dashboard-wrapper">
    <h2>Under construction / not for mobile</h2>
    * data provided by covid19api.com Will be looking for new dataSource for this one has gaps and incidental "0" values which changed overnight


    <h3 class="text">more features and better visualisations are comming soon</h3>
    <div class="button-container">
        <button class="btn btn-sm portfolio-button" (click)="showModal('D3')">D3 visualisation</button>
        <button class="btn btn-sm portfolio-button" (click)="showModal('API')">API</button>

    </div>

        <app-world-situation id="app-world-situation" (sendDate)="setDate($event)" *ngIf=!select></app-world-situation>

        <div class="current-numbers-container">
            <div class="cont confirmed-container">
                <div class="box value-box">{{ this.confirmed}}</div>
                <div class="box description-box">world wide<br>confirmed cases</div>
            </div>
            <div class="cont confirmed-delta-container">
                <div class="box value-box">{{ this.recovered }}</div>
                <div class="box description-box">world wide<br>recovery cases</div>
            </div>
            <div class="cont deaths-container">
                <div class="box value-box">{{ this.deceased }}</div>
                <div class="box description-box">world wide<br>deceased</div>
            </div>

        </div>
    </div>