.container {
    width: 100%;
    // padding: 32px;
    padding-top: 72px;
    background-color: var(--backgroundColor1);

    .explanation {
        width: 90%;
        max-width: 480px;
        margin: 0 auto;
        color: var(--textColor1);
    }

    .clock-container {
        width: 90%;
        max-width: 480px;
        min-width: 300px;
        margin: 10px auto;
        height: 160px;
        font-size: 12px;
        overflow: hidden;
        box-shadow: var(--boxShadowColor);
        user-select: none;

        .clock {
            display: flex;
            justify-content: center;
            transform: translateY(60px);

            .elem {
                width: 16%;
                transition: all 1000ms ease-in-out;

                #year,
                #month,
                #day {
                    background-color: rgb(96, 145, 161);
                }

                .square {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 800;
                    background-color: rgb(194, 136, 11);
                    color: white;
                    border: 3px solid rgb(80, 79, 79);
                    padding: 15px;
                    border-radius: 8px;
                    height: 10px;
                    transition: all 1000ms ease-in-out;
                }

                .active {
                    color: white;
                    background-color: rgb(96, 145, 161);
                    transition: all 700ms ease-in-out;
                    // pointer-events: none because of mouse interference with the transitions (not the solution...)
                    // pointer-events: none;
                }
            }
            
            #hour-wrapper,
            #minute-wrapper,
            #second-wrapper {
                transform: translateY(0);
            }
        }
    }
}

// @media (max-width: 768px) {

// }
