<div class="player-container cont">
    <div class="image-container" [ngClass]="this.lonelyGame.players[this.id].name === 'comp' ? 'comp' : 'user'"></div>
    <div class="cont tile-container">
        {{this.lonelyGame.players[this.id].name}}'s tiles:
        <div class="tiles">
            <app-Tile class="app-tile" [ngStyle]="{'left': i * 20 + 'px'}" *ngFor="let tile of this.lonelyGame.players[this.id].playersTiles; let i = index" :key="tile.id" [tile]="tile" [lonelyGame]="lonelyGame"></app-Tile>
        </div>
    </div>
    
    <div class="cont info-container"></div>
    
    <div class="cont score-container">
        diceScore: {{ this.lonelyGame.players[this.id].fixedDiceScore || 0 }}<br>
        <div class="playing-message" *ngIf="this.lonelyGame.players[this.id].playing === true">
            <span class="playing" >Playing </span><span class="dot dot-one">. </span><span class="dot dot-two">. </span><span class="dot dot-three">.</span>
        </div>        
    </div>

</div>